@import "administrate-field-rich_text/quill.snow";

.field-unit--rich-text {
  align-items: baseline;

  .ql-editor {
    min-height: 200px;
  }
}


.attribute-data--rich-text {
  ul {
    list-style-type: disc;
  }
  ol {
    list-style-type: decimal;
  }
  ul, ol {
    padding-left: 40px;
  }
}
